In [24]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
os.makedirs('Data/', exist_ok=True)

In [25]:
os.listdir("Data/")

['.ipynb_checkpoints',
 'basics.csv',
 'IMDB Movie Dataset Info.docx',
 'title-akas-us-only.csv',
 'title.basics.tsv',
 'title.basics.tsv.gz',
 'title.ratings.tsv',
 'title.ratings.tsv.gz']

In [36]:
basics_url = "Data/basics.csv"
ratings_url = "./Data/title.ratings.tsv/data.tsv"

title_basics = pd.read_csv(basics_url, low_memory=False)
ratings = pd.read_csv(ratings_url, sep="\t", low_memory=False)

In [37]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,start_year,endYear,runtime,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,0,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,0,126,Drama

In [27]:
# Create the sqlalchemy engine and connection
username = "root"
password = "root"
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [28]:
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [32]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109425 entries, 0 to 109424
Data columns (total 1 columns):
 #   Column                                                                                 Non-Null Count   Dtype
---  ------                                                                                 --------------   -----
 0   tconst,titleType,primaryTitle,originalTitle,isAdult,start_year,endYear,runtime,genres  109425 non-null  object
dtypes: object(1)
memory usage: 855.0+ KB

In [33]:
# find any startYears that have non-int characters
title_basics['start_year'].unique()

KeyError: 'start_year'

In [ ]:
title_basics['startYear'] = title_basics['startYear'].replace('\\N', '0')

In [ ]:
title_basics['startYear'] = pd.to_numeric(title_basics['startYear'], errors='raise', downcast='integer')

In [ ]:
title_basics.info()

In [ ]:
# # title_basics["Date"] = pd.to_datetime(title_basics["startYear"], errors='ignore').dt.strftime('%Y')


title_basics['startYear'] = title_basics['startYear'].apply(lambda x: pd.to_datetime(str(x), format='%Y', errors='coerce'))
# title_basics['startYear'] = pd.to_numeric(title_basics['startYear'], errors='coerce')

In [ ]:
# title_basics['startYear'].unique().value_counts()
title_basics['startYear']

In [ ]:

title_basics['runtimeMinutes'].astype('str').str.len().max()

In [ ]:
title_basics['runtimeMinutes'].describe()

In [ ]:
title_basics['runtimeMinutes'] = title_basics['runtimeMinutes'].replace('\\N', 0)
# title_basics['runtimeMinutes'] = pd.to_numeric(title_basics['runtimeMinutes'], errors='raise', downcast='integer')

In [ ]:
# title_basics['runtimeMinutes'].filter(regex='[a-zA-Z]').value_counts()
# title_basics.loc[title_basics['runtimeMinutes'], 1097238]
title_basics[:1097239]

In [ ]:
q = ''' DESCRIBE genres'''
pd.read_sql(q, conn)

In [ ]:
q = ''' DESCRIBE genres '''
pd.read_sql(q, conn)

In [ ]:
q = ''' DESCRIBE ratings '''
pd.read_sql(q, conn)

In [ ]:
q = ''' DESCRIBE title_genres '''
pd.read_sql(q, conn)

In [ ]:
title_basics.info()

In [ ]:
ratings.info()